<div class="panel panel-default" ng>
    <div class="panel-heading ">
      <a class="btn btn-success btn-sm pull-right " href="#/authority/new" >Add</a>


      <div class="col-lg-6 pull-right">
    <div class="input-group has-success">
      <input type="text" class="form-control input-sm" placeholder="email" ng-model="emailToEdit" ></input>
      <div class="input-group-btn">
        <button type="button" class="btn btn-success btn-sm" ng-click="AddOrEdit()">Add or Edit</button>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->


        <strong>Authority List</strong>
    </div>
    <div class="panel-body list-group">
      <div ng-repeat="authority in authorities | orderBy:orderProp" class="list-group-item" id="ahty-{{authority.Id}}">
        <div class="row">
          <a href="#/authority/{{authority.Id}}"><b class="text-info">
            {{authority.Email}}</b></a> <a ng-click="delAuthority(authority)" class="btn btn-danger btn-xs" href="javascript:">DEL</a> <small class="text-muted ng-binding">{{authority.Desc}}</small>
          <div style="padding-left:20px;">
            <div> <b class="text-success">Allow: </b>
              <span ng-repeat="allow in authority.Allow">
                {{allow}} , 
              </span>
            </div>
            <div><b class="text-danger">Deny: </b>
                <span ng-repeat="deny in authority.Deny">
                  {{deny}} ,
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>